.hero{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 1, 1,.6), rgba(0, 0, 1, .6)),url(../img/businessHero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

.text-container{

  h2{
    font-size: 48px;
    color: white;
    font-family: GillsBold;
    text-align: center;
  }

  p{
    width: 1200px;
    color: white;
    font-size: 16px;
    font-family: GillsReg;
  }
  
  
}
}

@media only all and (max-width: 980px){
  .hero{
      .text-container{
        h2, p{
          padding: 10px;
          width: 500px;
          margin: 0 auto;
        }
          

          
      }
  }
}